h2 {
    color:rgb(62, 92, 104);
    font-size:28px;
    text-align: center;
    border-style: dotted;
}
p1 {
    color:rgb(252, 0, 0);
    font-size:22px;
}
p2 {
    color:rgb(255, 238, 0);
    font-size:18px;
}
body {
    background-color:rgb(240, 175, 175) ;
}
div.a {
    text-align: center;
    }
div.b {
    float:right;
    }
img {
    margin:20px;
}
#rcorners1 {
    border-radius: 25px;
    background: #9cecc7;
    padding: 20px;
    width: 200px;
    height: 150px;
  }
</style>